#input {
  display: inline-grid;
  grid-template-columns: 200px;
  row-gap: 10px;
}

#output {
  display: inline-grid;
  grid-template-columns: 200px;
  row-gap: 10px
}

#mainArea {
  display: block;
  text-align: center;
}

p {
    margin: 0px;
    padding: 1.4000px;
}